<!DOCTYPE html>
<html lang="en">
<head>
    <title>book-app</title>
    <link rel="stylesheet" href="/public/styles/modules.css">
</head>
<body>

    <h1 id="try"> Hello World  </h1>

    <form action="">
        <fieldset>

            <input type="text" placeholder="enter a title or author">
            <br>
            <label> title <input type="radio" name="title" id=""></label>
            <br>
            <label>author <input type="radio" name="aurthor" id=""> </label>
            <br>
    
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>